.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: calc(100vh - 50px);
  background: url("http://www.kevmedina.com/showcase.jpeg") no-repeat center
    center fixed;
}

header {
  text-align: center;
  color: blue;
  width: 50%;
  line-height: 1.5;
}

header h1 {
  font-size: 2rem;
  margin: 40px 0;
  color: blue;
}

.home-link {
  background-color: #2626f1e0;
  padding: 10px 20px;
  color: #ffffff;
  text-decoration: none;
  border-radius: 40px;
  text-transform: uppercase;
  font-weight: 600;
}

.home-link:hover {
  background-color: lightgrey;
  color: blue;
}
