.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: calc(100vh - 120px);
  background: url("https://images.pexels.com/photos/160107/pexels-photo-160107.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  text-align: center;
  color: var(--blue);
  width: 50%;
  line-height: 1.5;
}

header h1 {
  font-size: 4rem;
  margin: 40px 0;
  color: var(--blue);
}

header h3 {
  font-size: 2.5rem;
  margin-bottom: 2em;
}

.home-link {
  background-color: var(--blue);
  padding: 10px 20px;
  color: #ffffff;
  text-decoration: none;
  border-radius: 40px;
  text-transform: uppercase;
  font-weight: 600;
}

.home-link:hover {
  background-color: #ffffff;
  color: var(--blue);
  text-decoration: none;
}
