nav {
  width: 100vw;
  height: 50px;
  background-color: #1c5eec;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0 10px;
}

ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.link {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-weight: 600;
  text-transform: uppercase;
}
