* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  background-color: var(--grey);
}

:root {
  --blue: #4484ce;
  --grey: #d9d9d9;
  --yellow: #f9cf00;
  --orange: #f19f4d;
}
